#article-container {
    font-family: "MODERN-MONO";
    margin-top: 120px;
}

#article-title {
    border-bottom: 1px solid rgb(224,50,50);
    margin-bottom: 20px;
}

.article-description {
    margin-top: 10px;
}

#article-references-header-container {
    margin-top: 30px;
    /* border-bottom: 1px solid rgb(224,50,50); */
}

#article-references-header {
    /* width: 22%; */
}

#article-references-bottom-container {
    overflow: hidden;
    height: 0px;
    transition: height 0.25s ease-in-out;
}

.rotate-img-small {
    max-width: 16px;
    transition: transform 0.25s ease-in-out;
}

.rotate-img-small:hover {
    cursor: pointer;
}

.red-hover {
    transition: color 0.25s ease-in-out;
}

.red-hover:hover {
    color: rgb(224,50,50);
}

#article-references-chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart {
    margin-top: 20px;
    max-width: 90%;
}

@media (max-width: 800px) {
    .rotate-img-small {
        max-width: 12px;
    }
}

@media (max-width: 600px) {
    .rotate-img-small {
        max-width: 10px;
    }

    .chart {
        max-width: 98%;
    }
}

