@font-face {
    font-family: "HIROMISAKE";
    src: url(assets/HIROMISAKE.ttf);
}

@font-face {
    font-family: "MODERNIA";
    src: url(assets/Modernia-Regular.otf);
}

@font-face {
    font-family: "MODERN-SQUARED";
    src: url(assets/modern_squared2.ttf);
}

@font-face {
    font-family: "GATTE-MODERN";
    src: url(assets/GatteModern-Medium.otf);
}

@font-face {
    font-family: "MODERN-MONO";
    src: url(assets/Modern_Mono.otf);
}

.page-title {

}

.aqualabs-red {
    color: rgb(224,50,50);
}

.main-title-font {
    font-size: 64px;
    font-family: "MODERNIA";
    font-weight: lighter;
    color: rgb(0, 0, 0);
}

.secondary-title-font {
    font-family: "MODERN-MONO";
    font-size: 48px;
    font-weight:bold;
    /* font-family: "HIROMISAKE"; */
}

.tertiary-title-font {
    font-family: "MODERN-MONO";
    font-size: 32px;
    font-weight: bold;
}

.subtext-font {
    font-size: 28px;
    font-family: "MODERN-MONO";
}

.nav-font {
    font-size: 28px;
    font-family: "MODERN-MONO";
}

.small-font {
    font-size: 20px;
    font-family: "MODERN-MONO";
}

.tiny-font {
    font-size: 16px;
    font-family: "MODERN-MONO";
}

.service-modal-title-font {
    font-family: "MODERN-MONO";
    font-size: 30px;
    font-weight: bold;
}

.service-modal-subtext-font {
    font-size: 18px;
    font-family: "MODERN-MONO";
}

@media (max-width: 1400px) {
    .main-title-font {
        font-size: 60px;
    }
    .secondary-title-font {
        font-size: 40px;
    }

    .tertiary-title-font {
        font-size: 28px;
    }

    .subtext-font {
        font-size: 24px;
    }

    .nav-font {
        font-size: 24px;
    }

    .small-font {
        font-size: 18px;
    }

    .tiny-font {
        font-size: 14px;
    }

    .service-modal-title-font {
        font-size: 26px;
    }
    
    .service-modal-subtext-font {
        font-size: 16px;
    }
}

@media (max-width: 1100px) {
    .service-modal-title-font {
        font-size: 22px;
    }

    .service-modal-subtext-font {
        font-size: 14px;
    }
}


@media (max-width: 600px) {
    .main-title-font {
        font-size: 36px;
    }

    .secondary-title-font {
        font-size: 24px;
    }

    .tertiary-title-font {
        font-size: 20px;
    }

    .small-font {
        font-size: 14px;
    }

    .subtext-font {
        font-size: 16px;
    }

    .nav-font {
        font-size: 16px;
    }

    .tiny-font {
        font-size: 12px;
    }

    .service-modal-title-font {
        font-size: 18px;
    }
    
    .service-modal-subtext-font {
        font-size: 13px;
    }

}

@media (max-width: 359px) {
    .service-modal-title-font {
        font-size: 15px;
    }

    .service-modal-subtext-font {
        font-size: 12px;
    }

    .nav-font {
        font-size: 14px;
    }
}





