
/* ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fff;
} */

html { scroll-behavior: smooth; }

#home-page-container {
    transition: opacity 0.2s ease-in-out;
}

#quote-page-container {
    transition: opacity 0.2s ease-in-out;
}

.center {
    text-align: center;
    align-items: center;
    justify-content: center;
}

a {
    border-bottom: 0px;
    /* text-decoration: none; */
    color: black;
}

img {
    user-select: none;
}

#main-title {
    color: black;
    transition: color 0.3s ease-in-out;
}

#main-title:hover {
    cursor: pointer;
    color: red;
}

#logo {
    width: 330px;
    transition: transform 1s;
}

#logo:hover {
    transform: rotate(-360deg);
}

.grey-background {
    background-color: rgb(243, 243, 243);
}

.col {
    flex-direction: column;
}

.page-container {
    margin-left: 400px;
    margin-right: 400px;
}

form {
    display: flex;
}

.standard-section {
    margin-top: 120px;
    margin-bottom: 120px;
    scroll-margin-top: 300px;
}

.top {
    align-items:start;
}

.col {
    flex-direction: column;
}

.left-wrapper {
    margin-right: 60px;
}

.right-wrapper {
    margin-left: 60px;
}

.section-header {
    border-bottom: 1px solid rgb(255, 122, 122);
    margin-bottom: 20px;
}

#contact-us-section {
    justify-content: space-around;
}

.bottom {
    align-items: end;
    align-content: baseline;
}

.white-background {
    background-color: white;
}


@media (max-width: 1600px) {
    .page-container {
        margin-left: 350px;
        margin-right: 350px;
    }

    #logo {
        width: 300px;
    }
}

@media (max-width: 1400px) {
    .page-container {
        margin-left: 200px;
        margin-right: 200px;
    }

    #logo {
        width: 280px;
    }
}

@media (max-width: 1000px) {
    .page-container {
        margin-left: 50px;
        margin-right: 50px;
    }

    #about-us-left {
        margin-right: 20px;
    }

    #about-us-right {
        margin-left: 20px;
    }

    #logo {
        width: 220px;
    }
}

@media (max-width: 768px) {
    .page-container {
        margin-left: 6px;
        margin-right: 6px;
    }

    #logo {
        width: 160px;
    }
}

@media (max-width: 600px) {
    #logo {
        width: 120px;
    }

    #about-us-left {
        margin-right: 6px;
    }

    #about-us-right {
        margin-left: 6px;
    }
}