#overlay1 {
    z-index: 9999;
    opacity: 0;
    background-color: #000000f2;
    justify-content: center;
    align-items: center;
    display: flex;
    /* position: fixed; */
    inset: 0;
}

#x-out-overlay-icon:hover {
    cursor: pointer;
}

#x-out-overlay-icon {
    top: 10%;
    right: 7%;
    position: fixed;
}

#overlay-img {
    transition: opacity 0.3s ease-in-out;
}

.invisible {
    opacity: 0;
}

.visible {
    opacity: 1;
}