#services-bottom {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    text-align: left;
}

#services-top {
    border-bottom: 1px solid rgb(255, 122, 122);
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.service-container {
    width: 33%;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
}

.service-title {
    margin-bottom: 10px;
    /* border-bottom: 1px solid red; */
}

#service-section-title {
    font-size: 48px;
}

#our-services-section {
    margin-top: 120px;
    margin-bottom: 120px;
}

#service-tool-img {
    max-height: 40px;
}

#service-2 {
    padding-right: 30px;
    padding-left: 30px;
}