.slideshow {
    display: flex;
    justify-content: space-evenly;
    gap: 3px;
    height: 36vh;
    min-width: 50vw;
    overflow: hidden;
    position: relative;
    /* box-shadow: rgba(255, 170, 170, 0.5) -10px 10px 6px 4px; */
}

.slideshow-group {
    display: flex;
    justify-content: space-around;
    /* overflow: hidden; */
    gap: 30px;
    /* flex-direction: column; */
    transition: transform 2s ease-in-out;
    
}

.slide-effect {
    position: absolute;
    left: -100%; /* Start the image off-screen to the left */
    animation: slideIn 2s forwards; /* 2s is the duration of the slide */
    transition: transform 2s ease-in-out;
}

.slideshow-image-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.slideshow-image {
    /* image-resolution: 10dpi; */
    /* max-width: 250px; */
    height: 10vw;
    
    max-width: 500px;
    transition: 1s;
}

.slideshow-image:hover {
    cursor: pointer;
}


#slideshow-right-arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#slideshow-left-arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arrow-symbol {
    font-size: 20px;
    font-weight:900;
    color: red;
}

.arrow-symbol:hover {
    cursor: pointer;
}


#slideshow-container {
    padding-top: 60px;
    padding-bottom: 60px;
    scroll-margin-top: 200px;
    /* padding-bottom: 10px; */
}


#slideshow-title-wrapper {
    width: 220px;
    border-bottom: 1px solid rgb(255, 122, 122);
}

#slideshow-title {
    
}
