.slideshow {
    display: flex;
    justify-content: space-evenly;
    gap: 3px;
    height: 36vh;
    min-width: 50vw;
    overflow: hidden;
    position: relative;
    width: 98%;
    /* box-shadow: rgba(255, 170, 170, 0.5) -10px 10px 6px 4px; */
}

.slideshow-group {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* overflow: hidden; */
    gap: 30px;
    /* flex-direction: column; */
    transition: transform 2s ease-in-out;
    
}




.slideshow-image {
    /* image-resolution: 10dpi; */
    /* max-width: 250px; */
    max-height: 45%;
    max-width: 45%;
    transition: 1s;
    /* border: 3px solid rgb(212, 212, 212); */
    /* border: 2px solid black; */
    box-shadow: -4px 7px 9px rgb(156, 156, 156);
}

.slideshow-image:hover {
    cursor: pointer;
}


#slideshow-right-arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 50%;
    user-select: none;
}

#slideshow-left-arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10px;
    top: 50%;
    user-select: none;
}

.arrow-symbol {
    font-size: 20px;
    font-weight:900;
    color: red;
    user-select: none;
}

.arrow-symbol:hover {
    cursor: pointer;
}


#slideshow-container {
    padding-top: 60px;
    padding-bottom: 60px;
    scroll-margin-top: 200px;
    /* padding-bottom: 10px; */
}


#slideshow-title-wrapper {
    width: 220px;
    border-bottom: 1px solid rgb(255, 122, 122);
}

.slideshow-image-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.slide-effect {
    /* animation: slideIn 2s ease-in-out forwards; */
    animation: slideIn 1s;
}

.slide-out-effect {
    animation: slideOut 1s;
}


@keyframes slideIn {
    from {
        translate: -150vw 0;
    }

    to {
        translate: 0 0;
    }
}

@keyframes slideOut {
    from {
        translate: 0 0;
    }

    to {
        translate: 300vw 0;
    }
}

@media (max-width: 1100px) {
    #slideshow-right-arrow-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0px;
        top: 50%;
    }
    
    #slideshow-left-arrow-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0px;
        top: 50%;
    }
}


@media (max-width: 800px) {
    .slideshow {
        width: 100%;
        justify-content: center;
    }

    .slideshow-image-container {
        width: 75%;
        align-items: center;
        text-align: center;
        align-content: center;
    }

    .slideshow-group {
        align-items: center;
        text-align: center;
        align-content: center;
        width: 90%;
        height: 100%;
    }

    .slideshow-image {
        /* max-height: 60%; */
        /* max-width: 75%; */
        /* margin-bottom: -100px; */
        max-height: 95%;
        max-width: 95%;
    }

    #slideshow-title-wrapper {
        margin-bottom: 30px;
    }
}