.slideshow {
    display: flex;
    justify-content: space-evenly;
    gap: 3px;
    height: 36vh;
    /* min-width: 50vw; */
    overflow: hidden;
    position: relative;
    width: 98%;
    /* box-shadow: rgba(255, 170, 170, 0.5) -10px 10px 6px 4px; */
}

.slideshow-group {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* overflow: hidden; */
    gap: 2%;
    /* flex-direction: column; */
    transition: transform 2s ease-in-out;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 90%;
    position: absolute;
}




.slideshow-image {
    max-height: 45%;
    height: auto;
    /* max-width: 45%; */
    transition: 1s;
    /* border: 3px solid rgb(212, 212, 212); */
    /* border: 2px solid black; */
    box-shadow: -4px 7px 9px rgb(156, 156, 156);
    position: absolute;
    top: 25%;
}

.image-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    /* margin-top: 30px; */
    /* position: absolute; */
    margin-bottom: 30px;
}

.single-image-container {
    /* max-height: 45%; */
    /* max-width: 45%; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    align-content: end;
    /* flex-direction: column; */
    margin-bottom: 0%;
}

.slideshow-image:hover {
    cursor: pointer;
    opacity: 0.4;
    
}


#slideshow-right-arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 45%;
    user-select: none;
}

#slideshow-left-arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10px;
    top: 45%;
    user-select: none;
}

.arrow-symbol {
    font-size: 20px;
    font-weight:900;
    color: red;
    user-select: none;
}

.arrow-symbol:hover {
    cursor: pointer;
}


#slideshow-container {
    padding-top: 60px;
    padding-bottom: 60px;
    scroll-margin-top: 200px;
    /* padding-bottom: 10px; */
}


#slideshow-title-wrapper {
    width: 220px;
    border-bottom: 1px solid rgb(255, 122, 122);
}

.slideshow-image-container {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    width: 90%;
    /* height: 100%; */
}


#slideshow-group-3 {
    gap: 7%;
}

.slide-in-from-left-effect {
    /* animation: slideIn 2s ease-in-out forwards; */
    animation: slideInFromLeft 0.65s;
}

.slide-out-to-right-effect {
    animation: slideOutToRight 0.65s;
}

.slide-in-from-right-effect {
    animation: slideInFromRight 0.65s;
}

.slide-out-to-left-effect {
    animation: slideOutToLeft 0.65s;
}

.click-to-expand-text {
    position: absolute;
    top: 45%;
    max-width: 110px;
}



@keyframes slideInFromLeft {
    from {
        translate: -150vw 0;
    }

    to {
        translate: 0 0;
    }
}

@keyframes slideInFromRight {
    from {
        translate: 150vw 0;
    }
    to {
        translate: 0 0;
    }
}

@keyframes slideOutToRight {
    from {
        translate: 0 0;
    }

    to {
        translate: 300vw 0;
    }
}

@keyframes slideOutToLeft {
    from {
        translate: 0 0;
    }
    to {
        translate: -150vw 0;
    }
}

@media (max-width: 1350px) {
    .slideshow-image {
        max-height: 40%;
    }
}

@media (max-width: 1100px) {
    #slideshow-right-arrow-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 2%;
        top: 40%;
    }
    
    #slideshow-left-arrow-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 2%;
        top: 40%;
    }
}

@media (max-width: 870px) {
    #slideshow-right-arrow-container {
        right: 3px;
    }

    #slideshow-left-arrow-container {
        left: 3px;
    }
}

@media (max-width: 850px) {
    .image-text-container {
        bottom: 1%;
    }
}


@media (max-width: 800px) {
    .slideshow {
        width: 100%;
        justify-content: center;
        height: 240px;
    }

    /* .slideshow-image-container {
        width: 70%;
    } */

    /* .slideshow-group {
        align-items: center;
        text-align: center;
        align-content: center;
        width: 90%;
        height: 100%;
    } */

    #slideshow-right-arrow-container {
        top: 28%;
        right: 20px;
    }

    #slideshow-left-arrow-container {
        top: 28%;
        left: 20px;
    }
    
    .image-text-container {
        margin-bottom: 10px;
    }

    .slideshow-image {
        /* max-height: 60%; */
        /* max-width: 75%; */
        /* margin-bottom: -100px; */
        max-height: 65%;
        max-width: 65%;
        top: 0%;
    }

    #slideshow-title-wrapper {
        margin-bottom: 30px;
    }


}

@media (max-width: 550px) {
    .slideshow-image {
        max-height: 60%;
        max-width: 60%;
    }
    #slideshow-right-arrow-container {
        top: 20%;
        right: 10px;
    }

    #slideshow-left-arrow-container {
        top: 20%;
        left: 10px;
    }

    .image-text-container {
        margin-bottom: 30px;
    }

    .click-to-expand-text {
        top: 35%;
    }
}

@media (max-width: 350px) {
    .slideshow-image {
        max-height: 50%;
        max-width: 60%;
    }
    #slideshow-right-arrow-container {
        top: 15%;
        right: 10px;
    }

    #slideshow-left-arrow-container {
        top: 15%;
        left: 10px;
    }

    .image-text-container {
        margin-bottom: 60px;
    }

    .click-to-expand-text {
        top: 20%;
    }
}